@using src.Shared
@using src.Data

@if (IsExperiment)
{
    <div class="left-card">
        <div class="my-card-header">
            <div class="pen-header">
                <h2>@Experiment.ExperimentNumber</h2>
                <i @onclick="EditExperiment" class="fa-solid fa-pen" title="Edit @(Experiment.ExperimentNumber)"></i>
            </div>
            <h3 class="title">@Experiment.Title</h3>
            <hr class="hr-line">
        </div>

        <div class="info-cumtainer">
            <div class="my-row">
                <i class="fa-sharp fa-solid fa-user"></i>
                <h3 class="main-info">Author</h3>
                <h3>@Experiment.Author</h3>
            </div>
            <div class="my-row">
                <i class="fa-solid fa-calendar-days"></i>
                <h3 class="main-info">Created at</h3>
                <h3>@Experiment.CreatedAt</h3>
            </div>
            <div class="my-row">
                <i class="fa-solid fa-calendar-days"></i>
                <h3 class="main-info">Edited at</h3>
                <h3>@Experiment.EditedAt</h3>

            </div>
            <div class="my-row">
                <i class="fa-solid fa-circle-info"></i>
                <h3 class="main-info">Description</h3>
            </div>
        </div>
        <h3 class="description">@Experiment.Description</h3>
    </div>
}
else
{
    <div class="right-card">
        <div class="my-card-header">
            <div class="pen-header">
                <h2>@ClinicalTest.Title</h2>
                <i @onclick="EditClinicalTest" class="fa-solid fa-pen" title="Edit @(ClinicalTest.Title)"></i>
            </div>
            <hr class="hr-line">
        </div>

        <div class="info-cumtainer">
            <div class="my-row">
                <i class="fa-solid fa-ellipsis"></i>
                <h3 class="main-info">n-plicate size</h3>
                <h3>@ClinicalTest.NplicateSize</h3>
            </div>
            <div class="my-row">
                <i class="fa-solid fa-calendar-days"></i>
                <h3 class="main-info">Created At</h3>
                <h3>@ClinicalTest.CreatedAt</h3>
            </div>
            <div class="my-row">
                <i class="fa-solid fa-calendar-days"></i>
                <h3 class="main-info">Edited At</h3>
                <h3>@ClinicalTest.EditedAt</h3>
            </div>
            <div class="my-row">
                <img src="icons/Exp_Icon.svg">
                <h3 class="main-info">Experiment</h3>
                <h3>@Experiment.ExperimentNumber</h3>
            </div>
            <div class="my-row">
                <i class="fa-solid fa-circle-info"></i>
                <h3 class="main-info">Description</h3>
            </div>
        </div>
        <h3 class="description">@ClinicalTest.Description</h3>
    </div>
}

@code {
    [Parameter]
    public bool IsExperiment { get;  set; } = false;
    [Parameter, EditorRequired]
    public Experiment Experiment { get; set; } = new();
    [Parameter, EditorRequired]
    public ClinicalTest ClinicalTest { get; set; } = new();

    public void EditClinicalTest() {}
    public void EditExperiment() {}
}
