
@using src.Data

<div class="file-component">
    <div class="square">
        <div class="square-body">
            <div class="expected background-card">
                <h2>Expected files</h2>
                <div class="files">
                    <div class="file-container">
                        @{int j = 1;}
                            @foreach(Slide slide in ClinicalTest.Slides) {
                            <div class="file-row">
                                <span class="file-indexer">Slide @j</span>
                                <div class="file">
                                    <i class="@(matches.ContainsValue(slide) ? "fa-solid fa-circle-check check" : "fa-solid fa-circle-xmark check")"></i>
                                    <span>@slide.Barcode</span>
                                </div>
                            </div>
                            j++;
                        }
                        @*
                        @for(int j = 1; j <= 16; j++) {
                            <div class="file-row">
                                <span class="file-indexer">Slide @j</span>
                                <div class="file">
                                    <i class="fa-solid fa-circle-check check"></i>
                                    <span>10000467</span>
                                </div>
                            </div>
                        }*@
                    </div>
                </div>
            </div>
            <div class="uploaded background-card">
                <h2>Uploaded files</h2>
                <div class="files">
                    <div class="file-container">
                        @{int i = 1;}
                        @foreach(SlideDataFile slideDataFile in ClinicalTest.SlideDataFiles)
                        {
                            <div class="file-row">
                                <span class="file-indexer">File @i</span>
                                <div class="file">
                                    <i class="@(matches.ContainsKey(slideDataFile) ? "fa-solid fa-circle-check check" : "fa-solid fa-circle-xmark check")"></i>
                                    <span>@slideDataFile.Filename</span>
                                </div>
                            </div>
                            i++;
                        }
                    </div>
                </div>
            </div>
        </div>
        <label class="grey-button file-upload-button">
            Browse files
            <i class="fa-solid fa-file-lines"></i>
            <InputFile style="display: none;" accept=".txt" OnChange="@UploadFiles" multiple />
        </label>
    </div>
    <button class="@(AllChecked ? "green-button start-calc-button" : "green-button wait-calc-button")"> 
        @(AllChecked ? "Start calculations" : "Files missing")
        <i class="@(AllChecked ? "fa-sharp fa-solid fa-calculator" : "fa-sharp fa-solid fa-file-circle-exclamation")"></i>
    </button>            
</div>



@code {
    private int maximumAllowedFiles = 16;
    private long maxFileSize = 1024 * 100
    private Dictionary<SlideDataFile, Slide> matches = new Dictionary<SlideDataFile, Slide>();

    [Parameter]
    public ClinicalTest? ClinicalTest { get; set; } = null;

    public bool AllChecked = true;

    public async Task UploadFiles(InputFileChangeEventArgs e)
    {
        if (ClinicalTest == null) return;
        
        foreach (var file in e.GetMultipleFiles(maximumAllowedFiles))
        {
            try {
                var fileContent = new StreamContent(file.OpenReadStream(maxFileSize));
                SlideDataFile slideDataFile = new SlideDataFile(file.Name, await fileContent.ReadAsStringAsync());
                ClinicalTest.slideDataFiles.Add(slideDataFile);
                MatchBarcodes(slideDataFile);
            }
            catch(Exception err) {
                Console.WriteLine(err.Message);
                Console.WriteLine("Couldn't read file: " + file.Name);
            }

        }
    }

    public void MatchBarcodes(SlideDataFile slideDataFile)
    {
        if (ClinicalTest == null) return;

        foreach(Slide slide in ClinicalTest.Slides) {
            if (slideDataFile.Filename.Contains(slide.Barcode)){
                matches.Add(slideDataFile, slide);
            }
        }

        foreach(var kp in matches) {
            Console.WriteLine($"key = {kp.Key.Filename} |  value = {kp.Value.Barcode}");
        }
    }

    protected override void OnAfterRender(bool firstRender) 
    {
        ClinicalTest.Slides.Clear();
        Slide[] slides = { new Slide("10000465"), new Slide("10000466"), new Slide("10000467") };
        ClinicalTest.Slides.AddRange(slides);

    }
}
