@inject NavigationManager NavManager

<header id="topnavContainer">
    <div id="topPart">
        <div id="leftPart">
            <button id="homeButton">
                <i @onclick="NavigateToHomepage" class="fa-solid fa-house" style="color:#D9D9D9"></i>
            </button>
        </div>
            <h1 id="middlePart">
                <span class="ct-title">@ClinicalTestTitle</span> in @ExperimentTitle
            </h1>
        <div id="rightPart">
        </div>
    </div>

    <div id="navButtonContainer">    
        <button id="details" @onclick="() => NavigateToPage(0)" class="@((ActiveButton == 0? "active" : ""))">
            Details
        </button>
        <button id="overview" @onclick="() => NavigateToPage(1)" class="@((ActiveButton == 1? "active" : ""))">
            Overview
        </button>
        <button id="fileUpload" @onclick="() => NavigateToPage(2)" class="@((ActiveButton == 2? "active" : ""))">
            File Upload
        </button>
        <button id="resultTable" @onclick="() => NavigateToPage(3)" class="@((ActiveButton == 3? "active" : ""))">
            Result Table
        </button>
        <button id="heatmap" @onclick="() => NavigateToPage(4)" class="@((ActiveButton == 4? "active" : ""))">
            Heatmap
        </button>

    </div>
</header>

@code {
    private int? _activeButton;

    [Parameter]
    public string? ClinicalTestTitle { get; set; }

    [Parameter]
    public int? ActiveButton { 
        get
        {
            return _activeButton;
        }
        set
        {
            if (value < 0 || value > 4)
            {
                throw new ArgumentException("ActiveButton must have a value between 0 and 4");
            }
            _activeButton = value;
        }
    }

    [Parameter]
    public string? ExperimentTitle { get; set; }

    public void NavigateToPage(int buttonId) {
        switch(buttonId) {
            case 0:
                ActiveButton = 0;
                break;
            case 1: 
                ActiveButton = 1;
                break;
            case 2: 
                ActiveButton = 2;
                break;
            case 3: 
                ActiveButton = 3;
                break;
            case 4: 
                ActiveButton = 4;
                break;
        }

        Console.WriteLine(buttonId);
    }

    public void NavigateToHomepage() {
        NavManager.NavigateTo("/");
    }

}
