@using src.Data

@{
    const int MaxSlides = 4;
    const int BlocksPerSlide = 21;
    const int NumPatientDataPerBlock = 3;
    int numSlides = Slides.Count;
}
<div class="plate numSlides@(numSlides)">
    <div class="plate-container">
        <div class="Letters">
            @foreach (string letter in headingLetters)
            {
                <div class="heading">@(letter)</div>
            }
        </div>
        @for (int i = 0; i < MaxSlides; i++)
        {
            int slideIndex = PlateIndex * 4 + i;

            <div class="Slide-@(i+1)">
                @for (int j = 0; j < BlocksPerSlide; j++)
                {
                    int blockIndex = j;
                    @if (i < numSlides)
                    {
                        <div class="block" @onclick="() => toggleBlockType(slideIndex, blockIndex)" @oncontextmenu="(e) => openTextColourMenu(Slides[slideIndex][blockIndex], e)" @oncontextmenu:preventDefault>
                            
                            @if (Slides[i][j].Type != Block.BlockType.Blank) {
                                @*Loop through patient data*@
                                @for (int k = 0; k < NumPatientDataPerBlock; k++)
                                {
                                    int index = k;
                                    int patientDataIndex = findTitleIndex(index);
                                    int patientDataCount = Slides[i][j].PatientData.Count;

                                    @*Checks whether a patient has data or not*@
                                    @if (patientDataIndex == -1 || patientDataIndex >= patientDataCount)
                                    {
                                        <div></div>
                                    }
                                    else
                                    {
                                        @*Console.WriteLine(Slides[i][j].TextColour + Slides[i][j].Type);*@
                                        <div style="color: @(Slides[i][j].TextColour)">
                                            @(Slides[i][j].PatientData[patientDataIndex])
                                        </div>
                                    }
                                }
                            } 
                            else 
                            {
                                @*Show blank block*@
                                <div></div>
                                <div style="color: @(Slides[i][j].TextColour)">Blank</div>
                                <div></div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="empty-block"></div>
                    }
                }
            </div>
        }

        <div class="Numbers">
            @for (int i = 0; i < 12; i++)
            {
                <div class="heading">@(i+1)</div>
            }
        </div>
        @for (int i = 0; i < MaxSlides; i++)
        {
            int slideIndex = (PlateIndex*4) + i;
            <div class="Barcode-@(i+1)">
                @if (i < numSlides)
                {
                    // Check barcode
                    <input type="text" placeholder="Enter barcode..." @bind="@ClinicalTest.Slides[slideIndex].Barcode" @bind:event="onchange" @onblur="() => saveBarcode()">
                }
            </div>
        }
        <div class="Empty">
            <div>
                Plate
                <div>
                    <b>@(PlateIndex + 1)</b> of @((ClinicalTest.Slides.Count - 1) / 4 + 1)
                </div>
            </div>
        </div>
    </div>
</div>

@if (textColourMenuVisible) {
    <div class="remove-colorpick" @onclick="closeTextColour">
        <TextColourMenu 
            MouseX="xCoor"
            MouseY="@(yCoor < 790 ? yCoor : yCoor - 140)"
            Block="selectedBlock"
            ChangeTextColourCallback="updateTextColour"
        />
    </div>
}

@code
{
    [Parameter, EditorRequired]
    public ClinicalTest ClinicalTest { get; set; } = new();

    [Parameter, EditorRequired]
    public int PlateIndex { get; set; }

    [Parameter, EditorRequired]
    public List<Block[]> Slides { get; set; } = new();

    [Parameter, EditorRequired]
    public EventCallback updateOverviewState { get; set; }

    private bool textColourMenuVisible { get; set; } = false;
    private Block? selectedBlock { get; set; } = null;
    private double xCoor { get; set; }
    private double yCoor { get; set; }

    private int findTitleIndex(int i)
    {
        string? title = ClinicalTest.TableTitles.Find((title) => title == ClinicalTest.ChosenTableTitles[i]);
        if (title == null)
            return -1;

        return ClinicalTest.TableTitles.IndexOf(title);
    }

    private void openTextColourMenu(Block block, MouseEventArgs e)
    {
        xCoor = e.ClientX;
        yCoor = e.ClientY;
        selectedBlock = block;
        textColourMenuVisible = true;
    }

    private async void toggleBlockType(int slideIndex, int blockIndex) {
        List<Block> blankBlocks = await ClinicalTest.GetBlankBlocks();
        bool blankBlockExists = blankBlocks.Exists(b => b.SlideIndex == slideIndex && b.BlockIndex == blockIndex);

        if (!blankBlockExists)
        {
            Block blankBlock = new Block(Guid.NewGuid().ToString(), new List<string>(), Block.BlockType.Blank, slideIndex, blockIndex, ClinicalTest.id);
            await ClinicalTest.AddBlankBlock(blankBlock);
        }
        else
        {
            Block blankBlock = blankBlocks.Find(b => b.SlideIndex == slideIndex && b.BlockIndex == blockIndex);
            await ClinicalTest.RemoveBlankBlock(blankBlock);
        }

        await updateOverviewState.InvokeAsync();
    }

    private void updateTextColour()
    {
        textColourMenuVisible = false;
        StateHasChanged();
    }

    private void closeTextColour()
    {
        textColourMenuVisible = false;
    }

    private async void saveBarcode() {
        ClinicalTest.SaveToDatabase();
    }
    private string[] headingLetters = { "A", "B", "C", "D", "E", "F", "G", "H" };
}
