@using src.Data

@{
    const int MaxSlides = 4;
    const int BlocksPerSlide = 21;
    const int NumPatientDataPerBlock = 3;
    int numSlides = Slides.Count;
}
<div class="plate numSlides@(numSlides)">
    <div class="plate-container">
        <div class="Letters">
            @foreach (string letter in headingLetters)
            {
                <div class="heading">@(letter)</div>
            }
        </div>
        @for (int i = 0; i < MaxSlides; i++)
        {
            int slideIndex = i;

            <div class="Slide-@(i+1)">
                @for (int j = 0; j < BlocksPerSlide; j++)
                {
                    int blockIndex = j;

                    <div class="block" @onclick="() => toggleBlockType(slideIndex, blockIndex)">
                    @if (i < numSlides)
                    {
                        @if (Slides[i][j].Type != Block.BlockType.Blank) {
                            @for (int k = 0; k < NumPatientDataPerBlock; k++)
                            {
                                int index = k;
                                int patientDataIndex = findTitleIndex(index);
                                int patientDataCount = Slides[i][j].PatientData.Count;

                                @if (patientDataIndex == -1 || patientDataIndex >= patientDataCount)
                                {
                                    <div></div>
                                }
                                else
                                {
                                    <div>@(Slides[i][j].PatientData[patientDataIndex])</div>
                                }
                            }
                        } 
                        else 
                        {
                            System.Console.WriteLine(Slides[i][j].Type);
                            <div></div>
                            <div>Blank</div>
                            <div></div>
                        }
                        
                    }
                    else
                    {
                        <div></div>
                    }
                </div>
                }
            </div>
        }

        <div class="Numbers">
            @for (int i = 0; i < 12; i++)
            {
                <div class="heading">@(i+1)</div>
            }
        </div>
        @for (int i = 0; i < MaxSlides; i++)
        {
            int slideIndex = (PlateIndex*4) + i;
            <div class="Barcode-@(i+1)">
                @if (i < numSlides)
                {
                    <input type="text" placeholder="Enter barcode..." @bind="@(ClinicalTest.Slides[slideIndex].Barcode)" @bind:event="onchange" @onblur="() => saveBarcode()">
                }
            </div>
        }
        <div class="Empty">
            <div>Plate<br>@(PlateIndex + 1) of @((ClinicalTest.Slides.Count - 1) / 4 + 1)</div>
        </div>
    </div>
</div>


@code
{
    [Parameter, EditorRequired]
    public ClinicalTest ClinicalTest { get; set; } = new();

    [Parameter, EditorRequired]
    public int PlateIndex { get; set; }

    [Parameter, EditorRequired]
    public List<Block[]> Slides { get; set; } = new();

    [Parameter, EditorRequired]
    public EventCallback updateOverviewState { get; set; }

    private int findTitleIndex(int i)
    {
        string? title = ClinicalTest.TableTitles.Find((title) => title == ClinicalTest.ChosenTableTitles[i]);
        if (title == null)
            return -1;

        return ClinicalTest.TableTitles.IndexOf(title);
    }

    //Update barcode for a slide
    @* async void enterBarcode(FocusEventArgs e, int slideIndex)
    {
        string? enteredBarcode = e.Value?.ToString();
        if (enteredBarcode == null) return;

        ClinicalTest.Slides[slideIndex].Barcode = enteredBarcode;
        await ClinicalTest.SaveToDatabase();
        System.Console.WriteLine("Blur");
    } *@

    private async void toggleBlockType(int slideIndex, int blockIndex) {
        BlankBlock? blankBlock = ClinicalTest.Slides[slideIndex].BlankBlocks.Find(b => b.BlockIndex == blockIndex);

        if (blankBlock == null)
        {
            ClinicalTest.Slides[slideIndex].BlankBlocks.Add(new BlankBlock(slideIndex, blockIndex));
        }
        else
        {
            ClinicalTest.Slides[slideIndex].BlankBlocks.Remove((BlankBlock)blankBlock);
        }

        await updateOverviewState.InvokeAsync();
    }

    private async void saveBarcode() {
        for(int i = 0; i < ClinicalTest.Slides.Count; i++) {
            System.Console.WriteLine(i.ToString() + "  " + ClinicalTest.Slides[i].Barcode);
        }
        await ClinicalTest.SaveToDatabase();
    }
    private string[] headingLetters = { "A", "B", "C", "D", "E", "F", "G", "H" };
}