@using src.Data
@using src.Shared

<div class="result-table-component">
    <div id="toolbar">
        <button @onclick='() => SetMode("XYZ")' class="result-buttons @mode==XYZ ? 'result-button-active' : ''">
            (X-Y)/Z
            </button>
        <button @onclick='() => SetMode("Log2")' class="result-buttons @mode==Log2 ? 'result-button-active' : ''">
            Log
            <sub>2</sub>
            </button>

        <div id="export-icon" title="Export overview">
            <i class="fa-solid fa-file-export"></i>
        </div>
    </div>

    <div class="table-view-container">
        <table id="result-table">
            <tr>
                <td class="line-number">Slide</td>
                @{int j = 1;}
                @foreach (string chosenTableTitle in ClinicalTest.ChosenTableTitles)
                {
                    if (chosenTableTitle != null) {
                        <td id="key-number-@j">@chosenTableTitle</td>
                        j++;
                    }       
                }

                @if (mode == "Log2") {
                    <td>Quality control</td>
                }
                else if (mode == "XYZ") {
                    <td>Pos raw</td>
                    <td>Neg raw</td>
                }

                @foreach (string analyteName in ClinicalTest.AnalyteNames) 
                {
                    <td contenteditable="false">@analyteName</td>
                }
            </tr>
            
            @{int i = 0;}
            @foreach(Slide slide in ClinicalTest.Slides)
            {
                @foreach(Block block in slide.Blocks) {
                    <tr>
                        <td class="line-number">@(i + 1)</td>
                        @{int k = 0;}
                        @foreach (string chosenTableTitle in ClinicalTest.ChosenTableTitles)
                        {
                            if (chosenTableTitle != null)
                            {
                                @*<td class="key-number-@k">@block.PatientData[ClinicalTest.TableTitles.IndexOf(chosenTableTitle)])</td>*@
                                k++;
                            }
                        }

                        @if (mode == "Log2")
                        {
                            <td>@block.QC</td>
                        }
                        else if (mode == "XYZ")
                        {
                            <td>@block.Nplicates.Find(nplicate => nplicate.AnalyteType == "pos")</td>
                            <td>@block.Nplicates.Find(nplicate => nplicate.AnalyteType == "neg")</td>
                        }
            
                        @foreach (Nplicate nplicate in block.Nplicates) 
                        {
                            <td contenteditable="false">@nplicate.RI</td>
                        }
                    </tr>    
                }
                i++;
            }
        </table>
    </div>
</div>

@code {
    private string mode = "XYZ";

    [Parameter]
    public ClinicalTest ClinicalTest { get; set; }


    public void SetMode(string newmode) {
        mode = newmode;
    }
}
