@using src.Data
@using src.Shared

@inject IJSRuntime JS

<div class="result-table-component">
    <div id="toolbar">
        <button @onclick='() => SetMode("XYZ")' class="result-buttons @(mode=="XYZ" ? "result-button-active" : "")">
                (x-y)/z
            </button>
        <button @onclick='() => SetMode("Log2")' class="result-buttons @(mode=="Log2" ? "result-button-active" : "")">
            Log
            <sub>2</sub>
            </button>

        <div id="export-icon" title="Export result table">
            <i class="fa-solid fa-file-export" @onclick="OpenExportModal"></i>
        </div>
    </div>

    @if (displaySpots)
    {
        <SpotModal 
            ShownNplicate="@selectedNplicate" 
            ModalCancelCallback="ModalCancel"/>
    }
    @if (showExportModal)
    {
        <ExportModal
            ModalCancelCallback="CloseExportModal"
            ExportCallback="Export"/>
    }

    <div class="table-view-container">
        <table id="result-table">
            @switch(mode) 
            {
                case "XYZ": <XYZ ClinicalTest="@ClinicalTest" ShowSpots="@((args) => ShowSpots(args))" SelectedNplicate="@selectedNplicate"></XYZ> break;
                case "Log2": <Log2 ClinicalTest="@ClinicalTest" ShowSpots="@((args) => ShowSpots(args))" SelectedNplicate="@selectedNplicate"></Log2> break;
            }
        </table>
    </div>
</div>


@code {
    private string mode = "XYZ";
    private bool displaySpots = false;
    private bool showExportModal = false;
    private Nplicate? selectedNplicate = default;

    [Parameter, EditorRequired]
    public ClinicalTest? ClinicalTest { get; set; } = default;

    public void SetMode(string newmode) {
        mode = newmode;
    }

    public void ShowSpots(Tuple<MouseEventArgs, Nplicate> args)
    {
        selectedNplicate = args.Item2;
        displaySpots = true;
    }   

    public void ModalCancel() 
    {
        selectedNplicate = default;
        displaySpots = false;
    }

    public async void Export(string withFlags)
    {
        if (ClinicalTest == null) return;
        FileInfo file = await ClinicalTest.ExportResultTable(withFlags);
        await JS.InvokeVoidAsync("triggerFileDownload", withFlags == "withFlags" ? $"{ClinicalTest.Title}-result-table-with-flags.xlsx" : $"{ ClinicalTest.Title}-result-table-without-flags.xlsx", $"http://localhost:5110/exports/{ClinicalTest.id}-result-table.xlsx");
        await Task.Delay(1000).ContinueWith(t => file.Delete());
    }

    public void OpenExportModal()
    {
        showExportModal = true;
    }

    public void CloseExportModal()
    {
        showExportModal = false;
    }
}
