@page "/clinicaltest/{ExperimentId}/{ClinicalTestId}"
@using src.Data
@using src.Shared
@using System.Timers

@inject NavigationManager NavManager
@inject IJSRuntime JS

@if (experiment != null && clinicalTest != null)
{
    <PageTitle>@clinicalTest.Title | Clinical Immunology</PageTitle>

    <Navbar ClinicalTestTitle="@clinicalTest.Title"
        ClinicalTestId="@clinicalTest.id"
        ExperimentNumber="@experiment.ExperimentNumber"
        setActiveButtonCallback="@SetActiveButton"
        ActiveButton="@activeButton" 
        DatabaseStatus="@databaseStatus" 
        BlocksLoaded="@blocksLoaded" />

	<div class="component-container">
		@switch (activeButton)
		{
			case 0: <Details Experiment="@experiment" ClinicalTest="@clinicalTest" editCTCallback="editCT" editExpCallback="editExp" /> break;
            case 1: <Overview Experiment="@experiment" ClinicalTest="@clinicalTest" DatabaseStatus="@databaseStatus" />break;
            case 2: <FileUpload Experiment="@experiment" ClinicalTest="@clinicalTest" ActiveButton="@activeButton" setActiveButtonCallback="@SetActiveButton" DatabaseStatus="@databaseStatus" />break;
            case 3: <ResultTable ClinicalTest="@clinicalTest" setActiveButtonCallback="@SetActiveButton" DatabaseStatus="@databaseStatus" />break;
			case 4: <Heatmap ClinicalTest="@clinicalTest" setActiveButtonCallback="@SetActiveButton" DatabaseStatus="@databaseStatus" /> break;
		}
	</div>
} 
else 
{
	<Navbar ClinicalTestTitle="@placeholderCt.Title"
        ClinicalTestId="@placeholderCt.id"
		ExperimentNumber="@placeholderExp.ExperimentNumber"
		setActiveButtonCallback="@SetActiveButton"
		ActiveButton="@activeButton"
        DatabaseStatus="@databaseStatus" />

	<div class="component-container">
		<Details Experiment="@placeholderExp" ClinicalTest="@placeholderCt" editCTCallback="() => {}" editExpCallback="() => {}" />
	</div>
}

@if (showExperimentModal)
{
   <EditorModal 
        CallbackClose="closeEditorModal"
        CallbackSave="saveExperimentCallback"
        ModalObject="@experiment"
        ModalType="@Experiment"
        ModalTitle='@editModalTitle'
   />
}

@if (showClinicalTestModal)
{
   <EditorModal 
        CallbackClose="closeEditorModal"
        CallbackSave="saveClinicalTestCallback"
        ModalObject="@clinicalTest"
        ModalType="@ClinicalTest"
        ModalTitle="@editModalTitle"
   />
} 
@if (showWarningModal)
{
    <div class="modal fade show" style="display:block" aria-modal="true" role="dialog" @onclick="@ModalCancel">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Clinical test disassociated</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>The clinical test is no longer related to the selected experiment. You will be redirected to the menu page</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" @onclick=@ModalCancel>Ok</button>
                </div>
            </div>
        </div>
    </div>
}

@if (!blocksLoaded) 
{
    <Loader/> 
}

@code {
    [Parameter]
    public string ExperimentId { get; set; } = "";
    [Parameter]
    public string ClinicalTestId { get; set; } = "";

    private Experiment placeholderExp = new Experiment(
        id: "",
        experimentNumber: "EXP",
        title: "Exp",
        author: "A",
        description: "",
        createdAt: DateTime.Now
    );

    private ClinicalTest placeholderCt = new ClinicalTest(
        id: "",
        title: "Ct",
        nplicateSize: 3,
        description: "",
        createdAt: DateTime.Now
    );

    private bool blocksLoaded = false;
    private Experiment experiment = new();
    private ClinicalTest clinicalTest = new();
    private bool showClinicalTestModal = false;
    private bool showExperimentModal = false;
    private string editModalTitle = "";
    private bool showWarningModal = false;
    private Timer? databaseTimer = null;
    private double databaseStatus = 1;


    // Get experiment and clincical test from database on the first render
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Get experiment and clinical test from database
            experiment = await ExperimentManager.GetExperimentById(ExperimentId) ?? throw new Exception("Experiment is null");
            clinicalTest = await ExperimentManager.GetClinicalTestById(ClinicalTestId) ?? throw new Exception("Clinical test is null");

            // Setup onbeforeunload check in javascript
            var dotNetReference = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("listenForBeforeUnload", dotNetReference);

            StateHasChanged();

            // Load the blocks from the database
            await clinicalTest.GetNormalBlocks();
            await clinicalTest.GetBlankBlocks();

            blocksLoaded = true;

            // Start the timer that updates the database status
            if (databaseTimer == null)
            {
                startTimer();
            }
        }
    }
    private void startTimer()
    {
        databaseTimer = new Timer(50);
        databaseTimer.Elapsed += TimerHandler;
        databaseTimer.AutoReset = true;
        databaseTimer.Enabled = true;
    }

    private void TimerHandler(Object? source, ElapsedEventArgs e)
    {
        databaseStatus = ProcessQueue.Instance.GetProgress(ClinicalTestId);
        InvokeAsync(() => StateHasChanged());
    }

    private async void closeEditorModal()
    {
        if (experiment == null || clinicalTest == null) return;
        showClinicalTestModal = false;
        showExperimentModal = false;
        experiment = await ExperimentManager.GetExperimentById(experiment.id) ?? throw new Exception("Experiment is null");
        clinicalTest = await ExperimentManager.GetClinicalTestById(clinicalTest.id) ?? throw new Exception("Clinical test is null");
        StateHasChanged();
    }

    private void ModalCancel() 
    {
        showWarningModal = false;
        NavManager.NavigateTo("/");
    }

    private async void saveClinicalTestCallback(ClinicalTest SavedClinicalTest) 
    {
        showClinicalTestModal = false;
        await ExperimentManager.SaveClinicalTestWithAssociate(SavedClinicalTest);
        if (!clinicalTest.ExperimentIds.Contains(ExperimentId))
        {
            showWarningModal = true;
            StateHasChanged();
        }
        else
        {
            StateHasChanged();
        }
    }

    private async void saveExperimentCallback(Experiment savedExperiment)
    {
        showExperimentModal = false;
        await savedExperiment.SaveToDatabaseAsync();
        experiment = savedExperiment;
        StateHasChanged();
    }

    private void editExp() 
    {
        if (experiment == null) return;
        showExperimentModal = true;
        editModalTitle = $"Edit: {experiment.ExperimentNumber}";
    }

    private void editCT() 
    {
        if (clinicalTest == null) return;
        showClinicalTestModal = true;
        editModalTitle = $"Edit: {clinicalTest.Title}";
    }

    private int activeButton { get; set; } = 0;

    private void SetActiveButton(int buttonId)
    {
        activeButton = buttonId;
    }

    [JSInvokable("GetDatabaseStatus")]
    public double GetDatabaseStatus()
    {
        return databaseStatus;
    }
}
